.centered{
  text-align: center;
}
.large{
  font-size: large;
}
.organize{
  border: 10px solid orange;
  border-collapse: collapse;
  text-align: center;
}
#down{
  margin-top:50px;
}
.background{
  background-color: blue;
}

